.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.arrow {
  color: var(--brand);
}

.resultContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
