.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 32px;
  max-width: 50%;
  margin-top: 4px;
}

.arrow {
  color: var(--brand);
}

.resultContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
