.card {
  width: 12rem;
  aspect-ratio: 2/1;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px hsl(0 0% 0% / 10%);
  padding: 0.6rem;
}

a {
  text-decoration: none;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.8rem;
  color: var(--gray);
}
