.box {
  border-left: 2px solid var(--brand-light);
  border-right: 2px solid var(--brand-light);
  padding: 0.5rem 1rem;
}

.titles {
  display: flex;
  align-items: baseline;
}

h3 {
  font-size: 1rem;
  padding-bottom: 1rem;
  color: var(--brand);
}

.subtitle {
  font-size: 0.9rem;
  color: var(--brand);
  margin-left: 0.5rem;
}
