button {
  background: linear-gradient(var(--white), var(--brand-xx-light));
  padding: 0.2rem;
  border: 2px solid var(--brand-x-light);
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}

.icon {
  color: var(--brand);
  font-size: 1.5rem;
}
