.input {
  padding: 8px;
  border: 1px solid var(--brand-light);
  border-radius: 8px;
  font-size: 16px;
}

.input::placeholder {
  color: var(--light-gray);
}

.monospace {
  font-family: monospace;
}
